@import url(//fonts.googleapis.com/css?family=Yantramanav:100normal,300normal,400normal,700normal);html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    font-family: Yantramanav;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff
}

#ql-bullet-points {
    counter-reset: quotation-step
}

#ql-bullet-points li {
    counter-increment: quotation-step;
    font-size: 22px;
    font-weight: 300;
    min-height: 65px;
    padding-left: 60px;
    position: relative;
    padding-top: 8px
}

#ql-bullet-points li strong {
    font-weight: 700
}

#ql-bullet-points li:before {
    content: counter(quotation-step);
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
    border-radius: 100%;
    line-height: 1.6em;
    text-align: center;
    margin-right: 18px;
    margin-bottom: 18px;
    position: absolute;
    left: 0;
    top: 0
}

.container-grey, .gray-container {
    background: #ededed;
}

.ql-header .side_label, .ql-header .top_label {
    font-size: 46px;
    font-weight: 100;
    color: #2b2b2b;
    margin-bottom: 5px;
}

.t-m {
    color: #2b2b2b;
    font-size: 24px;
    font-weight: 300;
}

.quotation-form-header h2 {
    padding: 0 0 0 24px;
    line-height: 50px;
    margin: 0;
}

.quotation-form-header h2 small {
    display: block;
    background: #ff7300;
    float: right;
    font-size: inherit;
    line-height: inherit;
    padding: 0 24px;
}


.hab-progress-bar {
    height: 12px;
    border: none;
    border-radius: 8px;
    background-color: #ededed;
    box-shadow: none;
}

.progress {
    overflow: hidden;
    height: 22px;
    margin-bottom: 22px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

#other-services .other-services-inner:after, #other-services .other-services-inner:before, #ql-footer #copyright:after, #ql-footer #copyright:before, #ql-form-container form.step-2.autocategorized .fields .p:after, #ql-form-container form.step-2.autocategorized .fields .p:before, #ql-form-container form.step-2.autocategorized .fields p:after, #ql-form-container form.step-2.autocategorized .fields p:before, #ql-form-container form.step-3 .fields .p:after, #ql-form-container form.step-3 .fields .p:before, #ql-form-container form.step-3 .fields p:after, #ql-form-container form.step-3 .fields p:before, .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content: " ";
    display: table;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#ql-form-container .progress-container {
    padding: 32px 32px 0;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 0px;
    padding-left: 32px;
}


@media screen and (min-width: 768px) {
    #ql-form-container.form-rick-40pct .step {
        padding: 30px 50px;
    }
}

@media screen and (min-width: 767px) {
    #ql-form-container .step {
        min-height: 200px;
    }
    #ql-form-container .step {
        padding: 10px 50px 10px;
    }
}

.hab-progress-bar.unique .progress-bar {
    background-color: #ff7300;
    -webkit-transition: width .5s linear;
    -o-transition: width .5s linear;
    transition: width .5s linear;
}


.btn-primary, body.landing-old #ql-form-container form button {
    background-color: #ff7300;
    border-color: #ff7300;
    border-bottom: 2px solid #de6501;
}

.btn-group-lg>.btn, .btn-lg, body.landing-old #ql-form-container form button {
    padding: 14px 46px;
    font-size: 21px;
    line-height: 1;
    border-radius: 3px;
}
.btn, body.landing-old #ql-form-container form button {
    padding: 12px 46px;
    font-size: 16px;
    line-height: 1;
    border-radius: 3px;
    white-space: normal;
}

.btn-primary:hover {
    color: #fff;
    background-color: #cc5c00;
    border-color: #c25700
}

.btn-primary.focus,.btn-primary:focus {
    color: #fff;
    background-color: #cc5c00!important;
    border-color: #803900!important
}

.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #de6501!important;
    border-color: #de6501!important
}

#ql-form-container.form-rick-40pct form .form-submit .text {
    font-size: 21px;
    color: #0c8a26;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 700;
    display: block;
}

.as-seen-on-tv {
    display: block;
    text-align: center;
    margin: 20px 0;
}

.as-seen-on-tv:before {
    content: 'Anunciado en TV';
    display: inline-block;
    line-height: 42px;
    padding-right: 150px;
    background: url(//es.habcdn.com/static/img/layout/super-footer-tv.png) no-repeat right;
    font-size: 20px;
    font-weight: 300;
}

#ql-form-container.form-rick-40pct form .fields label.title-label {
    font-size: 21px;
    color: #2b2b2b;
    font-weight: 400;
    letter-spacing: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.guaranteeBanner {
    padding: 30px 20px;
    background-color: #43c3ac;
}

.t-lg {
    color: #757575;
    font-size: 48px;
    font-weight: 100;
}

.guaranteeBanner .title {
    color: #fff;
    margin-top: 0;
    font-weight: 300;
    line-height: 1;
}
.t-sm {
    color: #2b2b2b;
    font-size: 21px;
    font-weight: 300;
}
.guaranteeBanner .description {
    color: #fff;
    margin-top: 5px;
    font-weight: 300;
}

.guaranteeBanner .description a {
    color: #fff;
    text-decoration: underline;
}

#ql-form-container.form-rick-40pct .form_error {
    display: block;
    color: #a33232;
    background-color: #fcbaba;
    padding: 8px;
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 1;
}

#ql-form-container.form-rick-40pct .form_error:before {
    margin-right: 6px;
    font-size: 14px;
}

#ql-form-container form .fields .p span.form_error:before, #ql-form-container form .fields p span.form_error:before, #ql-form-container.form-rick-40pct .form_error:before, .icon-arrow-box-down:before {
    content: "\f107";
}

#ql-advantages li.best:before, #ql-advantages li.free:before, #ql-advantages li.money:before, #ql-advantages li.time:before, #ql-form-container form .fields .p span.form_error:before, #ql-form-container form .fields p span.form_error:before, #ql-form-container form.step-2 #ql-ribbon h3.s-1 strong:before, #ql-form-container form.step-3 #ql-ribbon h3.s-1 strong:before, #ql-form-container form.step-3 #ql-ribbon h3.s-2 strong:before, #ql-form-container.form-rick-40pct .form_error:before, #ql-form-container.form-rick-40pct form.step-2 #ql-ribbon h3.s-1 strong:before, #ql-form-container.form-rick-40pct form.step-3 #ql-ribbon h3.s-1 strong:before, #ql-form-container.form-rick-40pct form.step-3 #ql-ribbon h3.s-2 strong:before, #ql-form-container.form-rick-40pct form.step-4 #ql-ribbon h3.s-1 strong:before, #ql-form-container.form-rick-40pct form.step-4 #ql-ribbon h3.s-2 strong:before, #ql-form-container.form-rick-40pct form.step-4 #ql-ribbon h3.s-3 strong:before, #ql-form-container.form-rick-40pct form.step-5 #ql-ribbon h3.s-1 strong:before, #ql-form-container.form-rick-40pct form.step-5 #ql-ribbon h3.s-2 strong:before, #ql-form-container.form-rick-40pct form.step-5 #ql-ribbon h3.s-3 strong:before, #ql-form-container.form-rick-40pct form.step-5 #ql-ribbon h3.s-4 strong:before, #ql-form-container.form-rick-40pct form.step-6 #ql-ribbon h3.s-1 strong:before, #ql-form-container.form-rick-40pct form.step-6 #ql-ribbon h3.s-2 strong:before, #ql-form-container.form-rick-40pct form.step-6 #ql-ribbon h3.s-3 strong:before, #ql-form-container.form-rick-40pct form.step-6 #ql-ribbon h3.s-4 strong:before, #ql-form-container.form-rick-40pct form.step-6 #ql-ribbon h3.s-5 strong:before, .btn-spinner.disabled:before, .btn-spinner[disabled]:before, .btn.dropdown-toggle:after, .icon-add-album:before, .icon-add-info:before, .icon-album:before, .icon-android:before, .icon-angle-down:before, .icon-angle-right:before, .icon-apple:before, .icon-arrow-box-down:before, .icon-arrow-box-up:before, .icon-arrow-circle-o-down:before, .icon-arrow-circle-o-up:before, .icon-arrow-circle-right:before, .icon-arrow-reply:before, .icon-arrow-up:before, .icon-asterisk:before, .icon-autosubscribe:before, .icon-badge:before, .icon-ban:before, .icon-bank:before, .icon-bar-chart-o:before, .icon-bar-chart:before, .icon-bar-code:before, .icon-bars:before, .icon-be-first:before, .icon-bell-o:before, .icon-board:before, .icon-bookmark-o:before, .icon-bookmark:before, .icon-briefcase-menu:before, .icon-briefcase-o:before, .icon-briefcase:before, .icon-building-o:before, .icon-calendar-o:before, .icon-calendar:before, .icon-camera-o:before, .icon-camera-retro:before, .icon-camera:before, .icon-cards-menu:before, .icon-caret-down:before, .icon-caret-square-o-up:before, .icon-caret-up:before, .icon-cat-air-conditioner:before, .icon-cat-alarm:before, .icon-cat-antenna:before, .icon-cat-arm-chair:before, .icon-cat-awning:before, .icon-cat-box:before, .icon-cat-bricks-trowel:before, .icon-cat-bricks:before, .icon-cat-broken-leak:before, .icon-cat-building:before, .icon-cat-certificate:before, .icon-cat-closet:before, .icon-cat-crane:before, .icon-cat-default:before, .icon-cat-demolition:before, .icon-cat-drill:before, .icon-cat-elevator:before, .icon-cat-fire-extinguisher:before, .icon-cat-fireplace:before, .icon-cat-fridge:before, .icon-cat-gas-mask:before, .icon-cat-handshake:before, .icon-cat-house-trowel:before, .icon-cat-key:before, .icon-cat-license:before, .icon-cat-light-bulb:before, .icon-cat-open-door:before, .icon-cat-oven:before, .icon-cat-parquet:before, .icon-cat-picture:before, .icon-cat-piping:before, .icon-cat-plant:before, .icon-cat-plug:before, .icon-cat-radiator:before, .icon-cat-roller:before, .icon-cat-roof:before, .icon-cat-saw:before, .icon-cat-shiny-tile:before, .icon-cat-shovel:before, .icon-cat-solar-farm:before, .icon-cat-soundproof:before, .icon-cat-store:before, .icon-cat-swimming-pool:before, .icon-cat-technician:before, .icon-cat-tools:before, .icon-cat-trowel:before, .icon-cat-truck:before, .icon-cat-vacuum:before, .icon-cat-wall:before, .icon-cat-waterproof:before, .icon-cat-wind-farm:before, .icon-cat-window:before, .icon-certificate:before, .icon-certified:before, .icon-chart-no-line:before, .icon-check-circle-o:before, .icon-check-circle:before, .icon-check-o:before, .icon-check-radio:before, .icon-check-square-o:before, .icon-check-square:before, .icon-check-thin:before, .icon-check:before, .icon-chevron-down:before, .icon-chevron-left:before, .icon-chevron-right:before, .icon-chevron-up:before, .icon-circle-o:before, .icon-circle:before, .icon-clip:before, .icon-clock-o:before, .icon-clock:before, .icon-close-o:before, .icon-close:before, .icon-code:before, .icon-cogs:before, .icon-comment-o:before, .icon-comment:before, .icon-comments-o:before, .icon-comments:before, .icon-config-o:before, .icon-contact-data:before, .icon-control-panel:before, .icon-credit-card:before, .icon-customer-note:before, .icon-desktop-o:before, .icon-desktop:before, .icon-details:before, .icon-diamond:before, .icon-directorio-marcas:before, .icon-directorio:before, .icon-download-o:before, .icon-download:before, .icon-edit-o:before, .icon-edit:before, .icon-ellipsis-h:before, .icon-emails-o:before, .icon-envelope-o:before, .icon-envelope:before, .icon-exclamation-circle:before, .icon-exclamation-triangle:before, .icon-expand:before, .icon-external-link-o:before, .icon-external-link-square:before, .icon-eye-o:before, .icon-eye-slash-o:before, .icon-facebook-o:before, .icon-facebook-square:before, .icon-facebook:before, .icon-file-o:before, .icon-file-text-o:before, .icon-file-text:before, .icon-files-o:before, .icon-files-papers:before, .icon-filter-o:before, .icon-flag:before, .icon-flickr:before, .icon-floppy-o:before, .icon-folder-open-o:before, .icon-folder-open:before, .icon-folder:before, .icon-frequent-user:before, .icon-frown-o:before, .icon-funnel-o:before, .icon-galeria-fotos:before, .icon-gear-o:before, .icon-gift:before, .icon-globe:before, .icon-google-plus-o:before, .icon-google-plus:before, .icon-google:before, .icon-heart-o:before, .icon-heart:before, .icon-hfilter-o:before, .icon-home-o:before, .icon-home:before, .icon-id:before, .icon-ideas-proyectos:before, .icon-info-circle-o:before, .icon-info-circle:before, .icon-info:before, .icon-instagram:before, .icon-invest-o:before, .icon-invoices:before, .icon-jobs:before, .icon-key:before, .icon-label-border:before, .icon-landscape:before, .icon-left-arrow-circle:before, .icon-life-ring:before, .icon-lifebuoy-o:before, .icon-lightbulb-o:before, .icon-link:before, .icon-linkedin:before, .icon-list-o:before, .icon-list-ul:before, .icon-list:before, .icon-location:before, .icon-lock-o:before, .icon-lock:before, .icon-map-marker-o:before, .icon-map-marker:before, .icon-medal:before, .icon-megaphone:before, .icon-microphone:before, .icon-minus-circle-o:before, .icon-minus-square-o:before, .icon-mobile:before, .icon-money-o:before, .icon-money:before, .icon-more-circle-o:before, .icon-multibanco:before, .icon-my-contacts-menu:before, .icon-news-o:before, .icon-notebook-alt:before, .icon-notebook:before, .icon-ofertas:before, .icon-one-file:before, .icon-opinions:before, .icon-paper-plane-fly:before, .icon-paper-plane-o:before, .icon-pencil-o:before, .icon-pencil-square-o:before, .icon-pencil:before, .icon-phone-o:before, .icon-phone-ringing:before, .icon-phone-square:before, .icon-phone:before, .icon-picture-o:before, .icon-pinterest-o:before, .icon-pinterest:before, .icon-play-circle-o:before, .icon-play-o:before, .icon-play:before, .icon-plus-circle:before, .icon-plus-square-o:before, .icon-plus-square:before, .icon-plus:before, .icon-preguntas:before, .icon-price-down:before, .icon-price-tag:before, .icon-price-up:before, .icon-print:before, .icon-prioritary-menu:before, .icon-prize:before, .icon-professional:before, .icon-profile:before, .icon-public-web:before, .icon-question-o:before, .icon-question:before, .icon-quotation:before, .icon-reformapedia:before, .icon-refresh:before, .icon-remove:before, .icon-reply:before, .icon-right-arrow-circle:before, .icon-roller:before, .icon-scissors-o:before, .icon-scissors:before, .icon-search-o:before, .icon-search:before, .icon-share-alt:before, .icon-share-o:before, .icon-share-square-o:before, .icon-share-thin:before, .icon-share:before, .icon-signal:before, .icon-sitemap:before, .icon-sort-amount-asc:before, .icon-sort-asc:before, .icon-sort-desc:before, .icon-spinner:before, .icon-star-half-empty:before, .icon-star-half-o:before, .icon-star-half:before, .icon-star-o:before, .icon-star:before, .icon-stars-o:before, .icon-suitcase:before, .icon-tachometer:before, .icon-tag:before, .icon-tags-o:before, .icon-tags:before, .icon-th-list:before, .icon-thumb-tack:before, .icon-thumbs-down:before, .icon-thumbs-o-down:before, .icon-thumbs-o-up:before, .icon-thumbs-up:before, .icon-timer:before, .icon-times-circle-o:before, .icon-times-circle:before, .icon-times:before, .icon-transacciones:before, .icon-trash-o:before, .icon-treasure-map:before, .icon-trophy:before, .icon-tu-negocio:before, .icon-turn-off:before, .icon-twitter-o:before, .icon-twitter:before, .icon-undo:before, .icon-unlock:before, .icon-up-arrow-square:before, .icon-updated-small:before, .icon-urgencias:before, .icon-user:before, .icon-users-o:before, .icon-users:before, .icon-video-camera:before, .icon-warning:before, .icon-warranty:before, .icon-whatsapp:before, .icon-wrench:before, .icon-youtube:before, .landing-calendar .datepicker table tr td.day.active:before, .landing-form-dynamic-questions #ql-form.step-7 #ql-ribbon h3.s-1 strong:before, .landing-form-dynamic-questions #ql-form.step-7 #ql-ribbon h3.s-2 strong:before, .landing-form-dynamic-questions #ql-form.step-7 #ql-ribbon h3.s-3 strong:before, .landing-form-dynamic-questions #ql-form.step-7 #ql-ribbon h3.s-4 strong:before, .landing-form-dynamic-questions #ql-form.step-7 #ql-ribbon h3.s-5 strong:before, .landing-form-dynamic-questions #ql-form.step-7 #ql-ribbon h3.s-6 strong:before, [data-icon]:before {
    display: inline-block;
    font-family: iconissimo;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@font-face {
    font-family: iconissimo;
    src: url(https://www.habitissimo.es/static/font/iconissimo_9144ba9f2f8151876409286181ff4441.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family:iconissimo;
        src: url(https://www.habitissimo.es/static/font/iconissimo_9144ba9f2f8151876409286181ff4441.woff) format("woff");
    }
}

[data-icon]:before {
    content: attr(data-icon)
}