@import url(//fonts.googleapis.com/css?family=Yantramanav:100normal,300normal,400normal,700normal);html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    font-family: Yantramanav;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff
}

#ql-bullet-points {
    counter-reset: quotation-step
}

#ql-bullet-points li {
    counter-increment: quotation-step;
    font-size: 22px;
    font-weight: 300;
    min-height: 65px;
    padding-left: 60px;
    position: relative;
    padding-top: 8px
}

#ql-bullet-points li strong {
    font-weight: 700
}

#ql-bullet-points li:before {
    content: counter(quotation-step);
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
    border-radius: 100%;
    line-height: 1.6em;
    text-align: center;
    margin-right: 18px;
    margin-bottom: 18px;
    position: absolute;
    left: 0;
    top: 0
}

.container-grey, .gray-container {
    background: #ededed;
}

.ql-header .side_label, .ql-header .top_label {
    font-size: 46px;
    font-weight: 100;
    color: #2b2b2b;
    margin-bottom: 5px;
}

.t-m {
    color: #2b2b2b;
    font-size: 24px;
    font-weight: 300;
}

.quotation-form-header h2 {
    padding: 0 0 0 24px;
    line-height: 50px;
    margin: 0;
}

.quotation-form-header h2 small {
    display: block;
    background: #ff7300;
    float: right;
    font-size: inherit;
    line-height: inherit;
    padding: 0 24px;
}


.hab-progress-bar {
    height: 12px;
    border: none;
    border-radius: 8px;
    background-color: #ededed;
    box-shadow: none;
}

.progress {
    overflow: hidden;
    height: 22px;
    margin-bottom: 22px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

#other-services .other-services-inner:after, #other-services .other-services-inner:before, #ql-footer #copyright:after, #ql-footer #copyright:before, #ql-form-container form.step-2.autocategorized .fields .p:after, #ql-form-container form.step-2.autocategorized .fields .p:before, #ql-form-container form.step-2.autocategorized .fields p:after, #ql-form-container form.step-2.autocategorized .fields p:before, #ql-form-container form.step-3 .fields .p:after, #ql-form-container form.step-3 .fields .p:before, #ql-form-container form.step-3 .fields p:after, #ql-form-container form.step-3 .fields p:before, .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content: " ";
    display: table;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#ql-form-container .progress-container {
    padding: 32px 32px 0;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 0px;
    padding-left: 32px;
}


@media screen and (min-width: 768px) {
    #ql-form-container.form-rick-40pct .step {
        padding: 30px 50px;
    }
}

@media screen and (min-width: 767px) {
    #ql-form-container .step {
        min-height: 200px;
    }
    #ql-form-container .step {
        padding: 10px 50px 10px;
    }
}

.hab-progress-bar.unique .progress-bar {
    background-color: #ff7300;
    -webkit-transition: width .5s linear;
    -o-transition: width .5s linear;
    transition: width .5s linear;
}


.btn-primary, body.landing-old #ql-form-container form button {
    background-color: #ff7300;
    border-color: #ff7300;
    border-bottom: 2px solid #de6501;
}

.btn-group-lg>.btn, .btn-lg, body.landing-old #ql-form-container form button {
    padding: 14px 46px;
    font-size: 21px;
    line-height: 1;
    border-radius: 3px;
}
.btn, body.landing-old #ql-form-container form button {
    padding: 12px 46px;
    font-size: 16px;
    line-height: 1;
    border-radius: 3px;
    white-space: normal;
}

.btn-primary:hover {
    color: #fff;
    background-color: #cc5c00;
    border-color: #c25700
}

.btn-primary.focus,.btn-primary:focus {
    color: #fff;
    background-color: #cc5c00!important;
    border-color: #803900!important
}

.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #de6501!important;
    border-color: #de6501!important
}

#ql-form-container.form-rick-40pct form .form-submit .text {
    font-size: 21px;
    color: #0c8a26;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 700;
    display: block;
}

.as-seen-on-tv {
    display: block;
    text-align: center;
    margin: 20px 0;
}

.as-seen-on-tv:before {
    content: 'Anunciado en TV';
    display: inline-block;
    line-height: 42px;
    padding-right: 150px;
    background: url(//es.habcdn.com/static/img/layout/super-footer-tv.png) no-repeat right;
    font-size: 20px;
    font-weight: 300;
}

#ql-form-container.form-rick-40pct form .fields label.title-label {
    font-size: 21px;
    color: #2b2b2b;
    font-weight: 400;
    letter-spacing: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.guaranteeBanner {
    padding: 30px 20px;
    background-color: #43c3ac;
}

.t-lg {
    color: #757575;
    font-size: 48px;
    font-weight: 100;
}

.guaranteeBanner .title {
    color: #fff;
    margin-top: 0;
    font-weight: 300;
    line-height: 1;
}
.t-sm {
    color: #2b2b2b;
    font-size: 21px;
    font-weight: 300;
}
.guaranteeBanner .description {
    color: #fff;
    margin-top: 5px;
    font-weight: 300;
}

.guaranteeBanner .description a {
    color: #fff;
    text-decoration: underline;
}